<h1>{$order.id}</h1>

<table class="table">
    <tr>
        <th>Наименование</th>
        <th>Ключ</th>
    </tr>
    {foreach $send_keys as $key}
        <tr>
            <td>{$key.name}</td>
            <td>{$key.key}</td>
        </tr>
    {/foreach}
</table>



<p>Спасибо за покупку в магазине «{$wa->shop->settings("name")|escape}»!</p>

<p>--<br>
    {$wa->shop->settings("name")|escape}<br>
    <a href="mailto:{$wa->shop->settings("email")}">{$wa->shop->settings("email")}</a><br>
    {$wa->shop->settings("phone")}<br></p>