<style>
    .digital-key{
        margin-top: 10px;
    }
</style>

{foreach $product->skus as $sku}
    <input type="hidden" name="digital_keys[{$sku.id}][]" value="" >
    <div>
        <h3>{if $sku.sku}[{$sku.sku}]{/if}{if $sku.name}{$sku.name|escape}{/if}</h3>
        <div class="field">
            <div class="name">
                Цифровые коды артикула:
            </div>
            <div class="value">
                {$keys = []}
                {if !empty($digital_keys[$sku.id])}
                    {foreach $digital_keys[$sku.id] as $digital_key}
                        {$keys[] = $digital_key.key|escape}
                    {/foreach}
                {/if}
                <textarea name="digital_keys[{$sku.id}]">{implode("\n", $keys)}</textarea>
                <p class="hint">Каждый следующий ключ вводится с новой строки</p>
            </div>
        </div>
    </div>
{/foreach}